@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	


	<div class="d-flex flex-wrap flex-row">
		<div class="flex-column ">
			<div class="card margenes">
				<div class="card-body">
					<h5 class="card-title">Clientes</h5>
					<p class="card-text">Creacion y ediciòn de clientes.</p>
					<a href="@Url.Action("Clientes","Home")" class="btn btn-primary">Cliente</a>
				</div>
			</div>
		</div>
		<div class="flex-column ">
			<div class="card margenes">
				<div class="card-body">
					<h5 class="card-title">Vendedores</h5>
					<p class="card-text">Creacion y ediciòn de vendedores.</p>
					<a href="@Url.Action("Index","Vendedores")" class="btn btn-info">Vendedores</a>
				</div>
			</div>
		</div>

		<div class="flex-column ">
			<div class="card margenes">
				<div class="card-body">
					<h5 class="card-title">Productos</h5>
					<p class="card-text">Creacion y ediciòn de Productos.</p>
					<a href="@Url.Action("Index","Productos")" class="btn btn-success">Productos</a>
				</div>
			</div>
		</div>

	</div>



</div>

